---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Banner from '../components/Banner.astro'

import whatsapp from '../assets/home/whatsapp.png'
import ddwapp from '../assets/home/ddwapp.png'
import bgwapp from '../assets/home/bgwapp.png'

/* import ISOTIPO from '../assets/ISOTIPO.astro' */
---

<Layout title='LAIT'>
	<div class="hidden md:block">
		<Banner />
	</div>
	<Navbar />
	<main
		class='h-screen flex flex-col justify-end pb-52 md:pb-28 content-center relative'
	>
		<div class='w-full md:w-2/3 pr-3 flex flex-col gap-2'>
			<h3 class='text-[20px] md:text-[40px] text-blanco'>It's not just AI</h3>
			<div id='textos' class='relative'>
				<h2
					class='text-[21px] md:text-[50px] absolute top-[-4px] left-[-4px] text-fucsia z-10'
				>
					<span class='text-[45px] md:text-[80px]'>Vanguard</span>
					<span class='text-[25px] md:text-[40px]'>Technology</span>
					<span class='block'>Improving HUMAN lifes</span>
				</h2>
				<h2 class='text-[21px] md:text-[50px] absolute top-0 left-0 text-blanco z-20'>
					<span class='text-[45px] md:text-[80px]'>Vanguard</span>
					<span class='text-[25px] md:text-[40px]'>Technology</span>
					<span class='block'>Improving HUMAN lifes</span>
				</h2>
				<h2 class='text-[21px] md:text-[50px] absolute top-[4px] left-[4px] text-azulito z-10'>
					<span class='text-[45px] md:text-[80px]'>Vanguard</span>
					<span class='text-[25px] md:text-[40px]'>Technology</span>
					<span class='block'>Improving HUMAN lifes</span>
				</h2>
			</div>
			<p class='text-blanco text-[15px] md:text-[22px] w-auto md:w-[532px] h-[96px]'>
				Our technologies always researching <span></span> auto-improvement giving
				real value at the service of the people.
			</p>
		</div>
		<div id='button' class='relative flex my-12'>
			<span id='sub1'></span>
			<button
				class='p-3 bg-morado w-[247px] h-[64px] font-bold text-[22px] text-blanco'
			>
				LETS START</button
			>
			<span id='sub2'></span>
		</div>
		<div id='isotipo'></div>
		<div class='w-[85px] h-[85px] absolute right-2 bottom-4 cursor-pointer'>
			<img
				src={whatsapp.src}
				class='absolute left-0 right-0 mx-auto bottom-5 z-20'
			/>
			<img
				id='dropshadow'
				src={ddwapp.src}
				class='absolute -bottom-2 left-0 right-0'
			/>
			<img src={bgwapp.src} class='absolute' />
		</div>
	</main>
</Layout>

<style>
	main {
		background: url('../assets/home/HOME.png');
		overflow: hidden;
		background-repeat: no-repeat;
		background-size: cover;
		padding-left: 75px;
	}
	h2 {
		line-height: 3.65rem;
	}
	h3,
	p {
		font-family: 'Rajdhani';
	}
	p {
		height: 96px;
		/* transform: translateY(-2.5rem); 462 */
	}
	p > span {
		display: block;
	}
	#textos {
		font-family: 'Chakra Petch';
		height: 131px;
	}
	button {
		font-family: 'Chakra Petch';
	}
	#sub1 {
		background: url('../assets/home/Subtract.png');
		display: inline-block;
		width: 16px;
		height: 64px;
		transform: translateX(2px);
	}
	#sub2 {
		background: url('../assets/home/Subtract-1.png');
		width: 16px;
		height: 64px;
		display: inline-block;
		transform: translateX(-2px);
	}
	#isotipo {
		background: url('../assets/home/ISO.svg');
		background-repeat: no-repeat;
		width: 672px;
		height: 742px;
		position: absolute;
		bottom: -5rem;
		right: -160px;
		transform: scale(1.05);
		filter: blur(2px);
	}
	#dropshadow {
		transform: scale(1.4);
	}
	@media (max-width: 590px) {
		main{
			padding-left: 2rem;
		}
		#isotipo{
			display: none;
		}

	}
</style>
