---
import Calendar from '../assets/Calendar.astro'
---

<div class="flex gap-4 justify-center py-3.5 bg-bgcolor-333 z-50">
    <Calendar />
    <p class="text-[15px] text-blanco">Don't lose our next event on January 13th about: Deep Learning and the next GPU Generation</p>
    <a href="/" class="text-fucsia ml-2 font-bold text-[15px]">Save Your Spot</a>
</div>

<style>
    div{
        font-family: Inter;
    }
</style>